.App {
  text-align: center;
  padding-top: 50px;
}
.App > div {
  margin-bottom: 30px;
}
.css-1d9ls5a,
.css-1pd5z80 {
  margin: auto;
}
.App svg {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
